*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}


#mainContainer{
    display: flex;
  
    flex-direction: column;
   justify-content: center;
   height: 480px;
   /*width: 600px;*/
   background-color: #27ae60;
  text-align: center;
  /*margin-left: 400px;*/
  
   
}

#subContainer{
    border: 4px solid black;
    justify-content: center;
    background-color: brown;
    
    font-family: Arial;
   /*margin: 0;*/
    color: white;
   
}
img{
    vertical-align: middle;
}

#Prev{
    /*float: right;*/
    /*right: 0;*/
}
#Next{
    float: right;
}
button{
    background-color: #fff;
    color: #27ae60;
    border: 2px solid #27ae60;
    font-size: 20px; 
    font-weight: bold;
    width: 60px;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.navButton {
    /* Make buttons look nice */ 
    cursor: pointer;
    float: left;
    width: 25px;
    height: 35px;
    padding: 10px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #000000;
    opacity: 0.65;
    user-select: none;
  }

  #previous{
      margin-top: 200px;
  }

  #next{
      float: right;
      margin-top: 200px;
  }
  
  